<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/me_1.jpg">
            </a>
            <div class="content">
                <a class="header">Dustin Dannenhauer</a>
                <div class="description">
                    <p>Computer Science PhD studying Artificial Intelligence, Cognitive Architectures, Machine Learning, and Metacognition.</p>
                </div>
            </div>
        </div>
    </div>
</div>